# Created by .ignore support plugin (hsz.mobi)
/clanmelee/ClanSALTfightingArtichokes/ArtichokeMedicDecider.java
/clanmelee/ClanSALTfightingArtichokes/ArtichokeSurgeonDecider.java
/clanmelee/ClanSALTfightingArtichokes/ArtichokeSniperDecider.java
/clanmelee/ClanSALTfightingArtichokes/ArtichokeTankDecider.java
/clanmelee/ClanSALTfightingArtichokes/ClanSALTfightingArtichokes.java
.idea/
Project2.iml
out/
